{% extends 'back/base.html' %}
{% block content %}

<div class="content">
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-12">
                <div class="card">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="card-header">
                            <h4 class="card-title">
                                {{title}}
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="form-group">
                                <label class="col-md-3 control-label">Nama : </label>
                                <div class="col-md-9">
                                    {{blog.nama}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label">Judul : </label>
                                <div class="col-md-9">
                                    {{blog.judul}}
                                </div>
                            </div><div class="form-group">
                                <label class="col-md-3 control-label">Deskripsi : </label>
                                <div class="col-md-9">
                                    {{blog.deskripsi}}
                                </div>
                            </div><div class="form-group">
                                <label class="col-md-3 control-label">Kategori : </label>
                                <div class="col-md-9">
                                    {{blog.kategori}}
                                </div>
                            </div>
                            
                            
                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class="col-md-3"></label>
                                <div class="col-md-9">
                                    <a  class="btn btn-primary" href="{% url 'tabel_blog' %}">Back</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card -->
            </div> <!--  end col-md-6  -->
        </div> <!-- end row -->
    </div>
</div>

{% endblock content %}